.App{
    width: 75%;
    margin: auto;
    background-repeat: repeat;
    background-color: rgba(56,120,1, 0.2);
    position: relative;
    box-shadow: 0 0 1px #525252;
}

@media(max-width: 768px){
    .App{
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }
}